/* hiding/showing login, dashboard, etc... */
.hidden {
    display: none;
}

/* #dashboardPage { */
    
html {
    font-family: 'Quattrocento', serif;
    background-color: lightcyan;
}

#welcomeUser {
    width: 70%;
}

#log_out_button {
    right: 20px;
    float: right;
    display: block;
}

#events,
#news,
#tasks,
#friends {
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    /* max-width: 600px; */
    border: 1px solid ;
    border-radius: 3px;
    filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.38));
    background-color: white;
    text-align: center;
    justify-content: center;
    margin: 7%;
}

/* #chat,
#friends {
    
} */

#article_create_card,
#task_create_card,
#createNewEventArticle {
    border: 1px solid black;
    border-radius: 3px;
    filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.38));
    background-color: white;
    text-align: center;
    margin: 0 20%;
    width: auto;
}

/* html {
    font-family: 'Quattrocento', serif;
    } */

/* 
.chatWindow {
    background-color: white;
    width: 1000px;
    height: 220px;
    overflow: scroll;
    border: black solid 2px;
}

.chatBlockStyle{
    background-color: cornsilk;

}
 
#chat {
    color: #804000;
    height: 250px;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
} */
#loginPage {
    margin-top: 20%;
    text-align: center;
}
