.hidden {
    display: none;
}

.chatSendButton{


}

.chatWindow {
    background-color: white;
    width: 1000px;
    height: 200px;
    overflow: scroll;
    border: black solid 2px;
}

.chatBlockStyle{
    background-color: lightseagreen;

}

.chatInputField{
    width: 800px;
}

#chatSendButton{

    
}
#article_create_card {
    border: 2px solid black;
    text-align: center;
}
